.suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: -51px 64px;
    border: 1px solid #230441;
    background-color: #4b4251;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 18%;
}

.suggestion-list li {
    padding: 8px;
    cursor: pointer;
    color: aliceblue;
}

.suggestion-list li:hover {
    background-color: #688898;
}